{% extends "board_base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/rectheme.css' %}" />
{% endblock css %}

{% block content %}
<div id="outer-box-rec">
  <div id="head-rec">
    <h1>Your Recommended Games</h1>
  </div>
  <div id="container-rec">
    {% for g in game %}
    <div class="rec-card" id="card1">
      <img class = "game-img" src="{{ g.get_photo }}" />
      <p>{{ g.description }}</p>
      <p>{{ g.genre }}</p>
      <p>{{ g.rating }}</p>
      <p>{{ g.complexity }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
