{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/rectheme.css' %}" />

<div id="outer-box-rec">
  <div id="head-rec">
    <h3>Recommendations for you {{ game.photo }}</h3>
  </div>
  <div id="container-rec">
    <div class="rec-card" id="card1">
      <img src="{{ game.photo }}">
      <p>Game Name</p>
      <p>Genre</p>
    </div>
    <div class="rec-card" id="card2">
      <img src="https://www.unsplash.it/150/150">
      <p>Game Name</p>
      <p>Genre</p>
    </div>
    <div class="rec-card" id="card3">
      <img src="https://www.unsplash.it/150/150">
      <p>Game Name</p>
      <p>Genre</p>
    </div>
    <div class="rec-card" id="card4">
      <img src="https://www.unsplash.it/150/150">
      <p>Game Name</p>
      <p>Genre</p>
    </div>
    <div class="rec-card" id="card5">
      <img src="https://www.unsplash.it/150/150">
      <p>Game Name</p>
      <p>Genre</p>
    </div>
  </div>
</div>
