{% extends "machina/forum/index.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/rectheme.css' %}" />
{% endblock css %}

{% block content %}
<div class="head-rec">
  <h1>Your Badges</h1>
  <p>badges go here</p>
</div>
<div class="head-rec">
  <h1>Your Collection</h1>
  <p>user collection goes here</p>
</div>
<div id="outer-box-rec">
  {% load similarity_engine %}
  {% load template_filters %}
  {% similarity user.id as rec_games  %}
  <div class="head-rec">
    {% if rec_games.0 == 'posted' %}
    <h1>Because you post in {{ rec_games.1|get_based_on:0 }}</h1>
    {% elif rec_games.0 == 'subscribed' %}
    <h1>Because you subscribe to {{ rec_games.1|get_based_on:0 }}</h1>
    {% endif %}
  </div>
  <div id="container-rec">
    {% for index,game in rec_games.1.items %}
    <div class="rec-card" id="card1">
      <img class="game-img" src="{{ game.image }}" />
      <h4 class="game-title">{{ game.game }}</h4>
      <p>Complexity: {{ game.difficulty }}</p>
      <p>Rating: {{ game.rating }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
