{% extends "machina/forum/index.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/coltheme.css' %}" />
{% endblock css %}

{% block content %}
<div id="container">
  <div id="sidebar">
    <button id="delete">Delete entire collection?</button>
    <button id="delete-selected">Delete selected games?</button>
    <div id="col-buts"></div>
  </div>
  <div id="content">
    <h1 id="title">Collection</h1>
    <div id="games">
    </div>
  </div>
</div>


<script>
  const cols = {{collection|safe}}
  let games = {{collection_has_games|safe}}
  console.log(games);

  cols.forEach((col) => {
    let name = col.fields.collection_name
    let str = "<button class=\".add-button\" value=\""+name+"\">View " + name + "</button>"
    $("#col-buts").append(str);
  });

  $("#col-buts").on('click','button',function(event){
    event.stopPropagation();
    event.stopImmediatePropagation();
    col_name = $(this).val();
    let gamesToDisplay = games.filter(game => (game.fields.collection_name == col_name));
    display(gamesToDisplay,col_name);
  });

  function display(games,title) {
    let itmsToReplace = "<div id='games'>";
    games.forEach(game => {
        let conDiv = "<div class='con'>"
        let title = "<h3>"+game.fields.game_name+"</h3>"
        let but = "<input class='check-game' type='checkbox' name='" +game.pk+  "' value='" +game.pk+ "'/>'"
        let label = "<label for='"+game.pk+"'>Remove</label>"
        let img = "<img src=\""+game.fields.photo+"\" />";
        let div = conDiv + title+ img + but + label + "</div>"
        itmsToReplace += div;
    });
    itmsToReplace += "</div>";
    $("#title").replaceWith("<h1 id='title'>"+title+"</h1>")
    $("#games").replaceWith(itmsToReplace);
  }
  $("#delete").on('click',function(){
    if (confirm("Are you sure you want to delete the collection?")) {
      let colToDelete = $("#title").text();
      $.ajax({
          type : "POST",
          url: '',
          data : {'colToDelete':colToDelete},
          success: function (data) {
            location.reload();
            return false;
          }
      });
    }
  });

  $("#delete-selected").on('click',function() {
    let gamesToDelete = []
    $('.check-game:checkbox:checked').map(function(){
      gamesToDelete.push($(this).val());
    });
    if (confirm("Are you sure you want to delete the selected games?")) {
      $.ajax({
          type : "GET",
          url: '',
          data : {'gamesToDelete':gamesToDelete},
          success: function (data) {
              location.reload();
          }
      });
    }
  });
</script>
{% endblock content %}
