{% extends "machina/forum/index.html" %}
{% load i18n %}
{% load static %}

<!-- This page allows a user to view their collections -->
<!-- They can view, delete a game from a collection, or delete an entire collection -->

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/coltheme.css' %}" />
{% endblock css %}

{% block content %}
<div id="container">
  <div id="sidebar">
    <button id="delete">Delete entire collection?</button>
    <button id="delete-selected">Delete selected games?</button>
    <div id="col-buts"></div>
  </div>
  <div id="content">
    <h1 id="title">Collection</h1>
    <div id="games">
    </div>
  </div>
</div>


<script>

  // load collection obj from dom into our js code
  const cols = {{collection|safe}}
  let games = {{collection_has_games|safe}}
  console.log(games);

  // create a button for each collection associated with user to the col-buts div
  cols.forEach((col) => {
    let name = col.fields.collection_name
    let str = "<button class=\".add-button\" value=\""+name+"\">View " + name + "</button>"
    $("#col-buts").append(str);
  });

  // a button click in the col-buts div will rerender the DOM to display
  // collection related information based on the button clicked
  $("#col-buts").on('click','button',function(event){
    event.stopPropagation();
    event.stopImmediatePropagation();
    col_name = $(this).val();
    let gamesToDisplay = games.filter(game => (game.fields.collection_name == col_name));
    display(gamesToDisplay,col_name);
  });

  // rerenders content div, for each game in the collection, a div with the game's
  // information is appended to the games div. The title changes to the collection name
  function display(games,title) {
    let itmsToReplace = "<div id='games'>";
    games.forEach(game => {
        let conDiv = "<div class='con'>"
        let title = "<h3>"+game.fields.game_name+"</h3>"
        let but = "<input class='check-game' type='checkbox' name='" +game.pk+  "' value='" +game.pk+ "'/>'"
        let label = "<label for='"+game.pk+"'>Remove</label>"
        let img = "<img src=\""+game.fields.photo+"\" />";
        let div = conDiv + title+ img + but + label + "</div>"
        itmsToReplace += div;
    });
    itmsToReplace += "</div>";
    $("#title").replaceWith("<h1 id='title'>"+title+"</h1>")
    $("#games").replaceWith(itmsToReplace);
  }

  // sends ajax post to delete collection that is currently being rendered
  // in the games div
  $("#delete").on('click',function(){
    // double check to make sure user is sure
    if (confirm("Are you sure you want to delete the collection?")) {
      // collection name is taken from the title
      let colToDelete = $("#title").text();
      $.ajax({
          type : "POST",
          url: '',
          data : {'colToDelete':colToDelete},
          // page reload on successful operation to update the collection object
          success: function (data) {
            location.reload();
            return false;
          }
      });
    }
  });

  // this deletes certain games from a colelction based on which games are
  // checked off by a user. They are sent with an ajax request as a list of
  // unique id's associated with the game's table entries
  $("#delete-selected").on('click',function() {
    let gamesToDelete = []
    $('.check-game:checkbox:checked').map(function(){
      gamesToDelete.push($(this).val());
    });
    if (confirm("Are you sure you want to delete the selected games?")) {
      $.ajax({
          type : "GET",
          url: '',
          data : {'gamesToDelete':gamesToDelete},
          success: function (data) {
              location.reload();
          }
      });
    }
  });
</script>
{% endblock content %}
